doctype 5
html(lang="en")
  head
    title the meatspace bunch
    link(type="text/css", rel="stylesheet", href="/styles.css")
    link(type="text/css", rel="stylesheet", href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
    script(src="//code.jquery.com/jquery-1.9.1.js", type="text/javascript")
    script(src="//code.jquery.com/ui/1.10.3/jquery-ui.js", type="text/javascript")
    script(src="/socket.io/socket.io.js", type="text/javascript")

  body
    div#wrapper
      h1 This is the story
      ul#meats
      h1 of a bunch of meats

      #credit some silliness by <a href="http://www.twitter.com/llkats">@llkats</a>
    script(type="text/template", id="template")
      li.meat
        a
          img
    script(src="/client.js", type="text/javascript")
    | <script type="text/javascript">
    | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    | ga('create', 'UA-16929739-2', 'meatbunch.es');
    | ga('send', 'pageview');

    </script>
